{{> header }}

<div id="static-container"></div>

<div class="header-container">
	<header class="header">
		<div class="starburst"></div>
		<div class="video">
			<div class="social">
				<div class="share">
					<div class="text">Share</div>
					<div class="arrow"></div>
					<div class="clearboth"></div>
				</div>
				<div class="buttons">
					<div class="twitter">
						<!-- Insert Twitter here -->
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://televisedapp.com" data-text="Televised makes it easy to keep track of your favorite TV shows." data-via="robocat">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
					<div class="facebook">
						<!-- Insert Facebook here -->
						<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftelevisedapp.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=dark&amp;action=like&amp;height=21&amp;appId=549884491706231" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
					</div>
				</div>
			</div>
			<div class="overlay" id="overlay"></div>
			<div class="frame"></div>
			<!-- Insert iFrame here -->
			<iframe class="vimeo_iframe" src="http://player.vimeo.com/video/55072084?api=1&amp;=player_id=video" width="960" height="540" frameborder="0" id="video" webkitAllowFullScreen mozallowfullscreen allowFullScreen webkit-playsinline></iframe>
		</div>
	</header>
</div>

<div class="info-container">
	<section class="info" role="main">
		<div class="aside">
			<a class="icon" href="http://itunes.apple.com/app/televised-tv-shows-weekly/id581289923?ls=1&mt=8"></a>
		</div>
		<div class="bside">
			<h1>Televised makes it easy to keep <br>track of your favorite TV shows.</h1>
			<p>Get a clean overview of your week in TV. Add your favorite TV shows and get airtime*, notifications &amp; episode summaries. Mark episodes as watched and track and share your weekly progress.</p>
			<a class="appstore" href="http://itunes.apple.com/app/televised-tv-shows-weekly/id581289923?ls=1&mt=8">Get it for FREE</a>
			<div class="clearboth"></div>
		</div>
		<div class="clearboth"></div>
	</section>
</div>

<div class="features-container">
	<div class="features">
		<div class="aside">
			<div class="feature background">
				<div class="icon"></div>
				<p>Updates TV Shows in the background</p>
				<div class="clearboth"></div>
			</div>
			<div class="feature notification">
				<div class="icon"></div>
				<p>New powerful notification system</p>
				<div class="clearboth"></div>
			</div>
		</div>
		<div class="bside">
			<div class="feature featured">
				<div class="icon"></div>
				<p>Choose from featured shows</p>
				<div class="clearboth"></div>
			</div>
			<div class="feature networks">
				<div class="icon"></div>
				<p>More networks than ever</p>
				<div class="clearboth"></div>
			</div>
		</div>
		<div class="clearboth"></div>
	</div>
</div>

<div class="reviews-container">
	<section class="reviews">
		<div class="review">
			<div class="rating">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
			<p class="quote">“Keep Track Of Your Weekly Television In A Beautiful Way With Televised 2”</p>
            <p class="author">- Christine Chan, AppAdvice</p>
		</div>
		<div class="review">
			<div class="rating">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
			<p class="quote">“It retains the crispy interaction sounds from the previous version, which I love.”</p>
            <p class="author">- Preshit Deorukhkar, Beautiful Pixels</p>
		</div>
		<div class="review">
			<div class="rating">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
			<p class="quote">“Turning anything from a glorified excel spreadsheet into a more aesthetically pleasing interaction is a great start to solving a problem and Robocat did just that”</p>
            <p class="author">- The Industry</p>
		</div>
		<div class="review">
			<div class="rating">
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
				<div class="star"></div>
			</div>
			<p class="quote">“Televised can keep track of your programs, whether they're big, popular dramas and sitcoms or smaller TV shows that you love but have a smaller following”</p>
            <p class="author">- Lifehacker</p>
		</div>
	</section>
</div>

<div class="footer-container">
	<footer class="footer">
		<a target="_blank" href="http://robocatapps.com/" class="robocat" title="Robocats website"></a>
		<h2 class="madeby">Made by <a target="_blank" href="http://robocatapps.com">Robocat</a></h2>

		<p class="legal">
			&copy; Robocat 2012-2015<span class="space">&nbsp;</span>
			Data from <a target="_blank" href="http://thetvdb.com">TheTVDB.com</a><span class="space">&nbsp;</span>
			<a target="_blank" href="http://robocatapps.com">robocatapps.com</a><span class="space">&nbsp;</span>
			<a href="/downloads/televised_presspackage.zip">Download the press package</a>
		</p>
		<p class="disclaimer">* Televised tracks the official airtime of the network that is airing that series and automatically translates it to your<br> timezone. It does not cover local scheduling or reruns but follow the international release schedule of TV shows.</p>
	</footer>
</div>

{{> footer }}